/* Estilos moodle modificados */
.section .label .contentwithoutlink, .section .label .activityinstance {
    padding-right: 0px;
}

.esconder1,
.esconder2,
.esconder3,
.esconder4,
.esconder5,
.esconder6 {
    display: none;
}

.mostrar1, .mostrar2, .mostrar3, .mostrar4, .mostrar5{
    display: block;
}


/* Estilos generales */

body {
    font-family: "Century Gothic", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Color de fondo de la página */
}

.containerg {
    /* max-width: 1080px; /* Ancho máximo del contenido */ 
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 0px; /* Agrega espacio alrededor del contenido */
}

/* Estilos para las secciones */
section {
    padding: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Estilos específicos para cada sección, como se mencionaron anteriormente */


img {
    max-width: 100%;
    height: auto;
}




/* Estilos para la Sección 2 */
.seccion2 {
    display: flex;
    flex-direction: column;
    z-index: -1;
    color: #FFF;
    overflow: hidden;
    margin-bottom: 0px;
}

/* Botones Banner */
.seccion-horizontar-v3 ,.seccion-horizontar-v3-2{
    margin-top: 10px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
  }
  .seccion-horizontar-v3-2{
    margin-bottom: 20px;
    justify-content: space-evenly
    }
  .seccion-horizontar-v3 a, .seccion-horizontar-v3-2 a {
    text-decoration: none;
  }
  
  .boton-cai-v3,
  .boton-diagnostico-v3,
  .boton-nivelatorio-v3 {
    color: #4D4D4D;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    height: 60px;
    line-height: 40px; 
    font-size: 24px;
    font-weight: 600;
  }
  
  .botonactivo-v3{
    background-color: #79C000;
    color: #FFFFFF;
  }
  
  .boton-cai-v3:hover,
  .boton-diagnostico-v3:hover,
  .boton-nivelatorio-v3:hover {
    background-color: #79C000;
    color: #FFFFFF;
  }
  

.seccion2op1 {
    display: flex;
    flex-direction: column;
}

.seccion2op1b{
    position: relative;
    display: flex;
    color: #FFF;
    margin-bottom: 20px;
    overflow: hidden;
    flex-direction: row;
}

.imagen-fondo {
    width: 100%;
    z-index: 0;
}

.textobanner {
    position: absolute;
    display: flex;
    margin: 23% 20px 10px 90px;
    z-index: 1;
}



.seccion2b {
    display: flex;
    margin-bottom: 20px;
    max-height: 417px; /* Altura máxima de la sección */
    height: 100px; /* Altura del rectángulo */
    background-color: #f4f4f4; /* Color de fondo */
    border-bottom-left-radius: 20px; /* Radio de borde para la esquina inferior izquierda */
    border-bottom-right-radius: 20px; /* Radio de borde para la esquina inferior derecha */
    margin-top: -25px;
    position: relative; /* Para posicionar la imagen relativa a este div */
    z-index: 1; /* Asegurar que la imagen esté detrás del contenido */
    align-items: center;
    flex-direction: column; /* Para apilar elementos verticalmente */
    justify-content: center; /* Para centrar verticalmente */    
    position: relative; /* Asegura que el z-index funcione correctamente */

}
.texto-columnas02 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-left: 80px;
    font-family: "Inter", sans-serif; /* Fuente del texto */
}

.texto-columnas02 p{
    margin-top: 18px;
}



.columna02 {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos de la columna */
    margin: 10px; /* Espacio entre las columnas */
    color: #4d4d4d;
    font-size: 15px;
    font-weight: bold;
    margin-right: 66px;
}

.imagen-columna02 {
    width: 40px; /* Tamaño de las imágenes */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.imagen-columna02b {
    height: 100%;
    width: 50px;
    margin-right: 20px;
    margin-top: -10px;
}

.img-centrada {
    position: relative; /* Asegura que el z-index funcione correctamente */

    margin-top: -18px;
    width: 65%; /* Anchura de la imagen */
    z-index: 9999; /* Asegurar que la imagen esté enfrente de todo el contenido */

}

.columna1 {
    flex: 1;
    padding: 0 px;
    display: flex;
    justify-content: flex-start; /* Alinea la imagen a la izquierda */
    align-items: flex-start; /* Alinea la imagen en la parte superior */
    overflow: hidden; /* Oculta cualquier contenido que desborde de la columna */
    background-color: #4D4D4D;
}

.columna1 img {
    max-height: 100%; /* La imagen se ajusta al 100% de la altura de la columna */
    width: auto;
    max-width: 100%; /* Ancho máximo relativo al 100% del ancho de la columna */
}

.columna2 {
    flex: 1;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: #4D4D4D;
}

.rectangulo {
    width: 13.853px;
    height: 114.085px;
    background-color: #79C000;
    margin-right: 20px; /* Espacio entre el rectángulo y el contenido de texto */
    margin-left: 20px; /* Espacio entre el rectángulo y la imagen */
}

.rectangulobanner{
    width: 13.853px;
    height: 75.085px;
    background-color: #79C000;
    margin-right: 20px; /* Espacio entre el rectángulo y el contenido de texto */
    margin-left: 20px; /* Espacio entre el rectángulo y la imagen */
}


.contenido-columna2 h1,
.contenido-columna2 h2,
.contenido-columna2 p {
    font-family: "Century Gothic", sans-serif; 
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.9;
    margin: 0px;
    margin-bottom: 5px;
}

.contenido-columna2 h1 {
    color: #FFF;
}

.contenido-columna2 h2 {
    color: #79C000;
    font-size: 40px;
}

.contenido-columna2 p {
    color: #FFF;
    font-size: 16.298px;
}





/* Sección 3 */
.contenedordebotones{
    display: flex;
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: space-around; /* Centra verticalmente los elementos */
}
#botones {
    display: flex;
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: space-around; /* Centra verticalmente los elementos */
    margin-top: 140px;
    position: absolute; /* Establecer posición absoluta para los botones */
    z-index: 2;
}


button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.boton1v{

    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #79C000; /* Cambia el fondo al pasar el cursor */    
    border: 2px solid #79C000; /* Borde del botón */
    margin-right: 20px; /* Espacio entre los botones */
    color: #fff; /* Color de texto al pasar el cursor */
    font-family: "Inter", sans-serif; /* Fuente del texto */
    font-size: 15.224px; /* Tamaño de fuente */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;

}

.boton1{
    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #F4F4F4; /* Cambia el fondo al pasar el cursor */    
    border: 2px solid #F4F4F4; /* Borde del botón */
    margin-right: 20px; /* Espacio entre los botones */
    color: #4D4D4D; /* Color de texto al pasar el cursor */
    font-family: "Inter", sans-serif; /* Fuente del texto */
    font-size: 15.224px; /* Tamaño de fuente */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}
.boton1v img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusbcta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
}

.boton1 img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusbcta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
}
.boton1:hover{
    color:#79C000;
    cursor: pointer;
}
.boton1:hover .filtro, .boton2:hover .filtro{
    filter: invert(71%) sepia(67%) saturate(3832%) hue-rotate(43deg) brightness(100%) contrast(102%);

}
.boton1v .filtro{
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(301deg) brightness(102%) contrast(101%);
}

.boton1 .filtro{
    filter: invert(29%) sepia(1%) saturate(1600%) hue-rotate(322deg) brightness(104%) contrast(97%);
}



/* Estilos para los botones en la Sección 3 */
.boton-seccion3 {
    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #F4F4F4; /* Fondo del botón */
    border: 2px solid #F4F4F4; /* Borde del botón */
    margin-right: 20px; /* Espacio entre los botones */
    color: #4D4D4D; /* Color de texto */
    font-family: "Inter", sans-serif; /* Fuente del texto */
    font-size: 15.224px; /* Tamaño de fuente */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo para cambiar el color del texto cuando se pasa el cursor sobre el botón */
.boton-seccion3:hover {
    background-color: #79C000; /* Cambia el fondo al pasar el cursor */
    border-color: #79C000; /* Mantén el borde con el mismo color */
    color: #fff; /* Color de texto al pasar el cursor */
}

/* Estilo para la imagen en su estado normal */
.boton-seccion3 img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
    transition: filter 0.3s ease-in-out; /* Agrega una transición suave */
}

.boton-seccion3:hover .filtro{
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(301deg) brightness(102%) contrast(101%);

}
.boton-seccion3 .filtro{
    filter: invert(29%) sepia(1%) saturate(1600%) hue-rotate(322deg) brightness(104%) contrast(97%);
}

.boton-seccion3.activo {
    background-color: #79C000; /* Cambia el fondo al pasar el cursor */
    border-color: #79C000; /* Mantén el borde con el mismo color */
    color: #fff; /* Color de texto al pasar el cursor */
}
.boton-seccion3.activo img{
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(301deg) brightness(102%) contrast(101%);
}


/* Estilo para el contenedor de información */

#informacion {
    background-color: rgba(255, 255, 255, 0.95); /* Color de fondo con transparencia */
    height: auto;
    filter: drop-shadow(6.150000095367432px 2.049999952316284px 10.25px rgba(1, 0, 1, 0.35));
    padding: 20px; /* Espaciado interior para separar el contenido del borde */
    margin-top: 60px; /* Mover hacia arriba con un margen negativo */
    position: relative; /* Establecer posición relativa */
    z-index: 1; /* Asegurar que la información esté sobre los botones */
    border-radius: 0px 0px 10px 10px;
}


/* Estilo para la sección  1 Informacion*/


/* Estilo para la columna de texto */
.seccion-contenido1{
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    margin-top: 100px;
}


.columna-rectangulo {
    width: 8px; /* Ancho del rectángulo */
    height: 74px; /* Altura del rectángulo */
    background-color: #606060; /* Color de fondo del rectángulo */
    margin: 20px 20px; /* Margen derecho para separar del texto */
}

/* Estilo para el título */
.columna-texto h2 {
    
    stroke-width: 2px;
    color: #79C000;
    font-size: 15.878px;
}
/* Estilo para el párrafo */
.columna-texto p {
    
    color: #4D4D4D;
    font-family: 'Inter', sans-serif;
    font-size: 15.878px;
    font-style: normal;
    line-height: normal;
}

/* Estilo para la Sección 2 Informacion*/

.seccion-contenido2{
    display: flex;
    justify-content:center;
    align-items: center; /* Centrar verticalmente el contenido */
    margin-top: 80px;
}

#seccion2-info p {
    text-align: center;
    font-size: 14px; /* Tamaño de fuente para el párrafo */
    color: #4D4D4D; /* Color de texto para el párrafo */
    font-weight: 400;
    
    padding: 40px 40px;
}

.columna-video {
    width: 800px; /* Establece el ancho fijo que desees para el video */
}

.imagen-seccion {
    width: 40px; /* Establece el ancho fijo que desees para las imágenes */
    height: auto; /* Esto mantiene la proporción original de la imagen */
}

/* Estilo para la Sección 3 Informacion*/


/* Estilo para las tres columnas */

#seccion3-info{
    display: flex;
    flex-direction: row;
    padding: 120px;
    justify-content: center
}

.seccion3-info p{

    margin-left: 0px;
    font-size: 14px; /* Tamaño de fuente para el párrafo */
    color: #4D4D4D; /* Color de texto para el párrafo */
    font-weight: 400;
}
.seccion3-info h2{
    stroke-width: 2px;
    color: #79C000;
    font-size: 15.878px;
}
.seccion-contenido3{
    display: flex;
}


/* Estilo individual para cada columna */
.columna-seccion3 {
    display: flex; /* Usar flexbox para alinear las columnas horizontalmente */
    justify-content: space-between; /* Espacio entre las columnas */
    margin-top: 0px; /* Margen superior para separar el párrafo de las columnas */
    flex-direction: row; /* Cambiar la dirección a horizontal */
    align-items: flex-start; /* Alinea la imagen en la parte superior */
    
}

/* Estilo para el contenido dentro de las columnas */
.columna-seccion3 h3 {
    font-size: 24px; /* Tamaño de fuente para el título de la columna */
    color: #333; /* Color de texto para el título de la columna */
}

.columna-seccion3 p {
    margin-top: 0px;
    margin-right: 10px;
    font-size: 14px; /* Tamaño de fuente para el texto dentro de la columna */
    color: #666; /* Color de texto para el texto dentro de la columna */
    margin-left: 20px;
}

.columna-seccion3 img {
    display: flex;
    align-items: flex-start; /* Alinea la imagen en la parte superior */
    max-width: 20%;
}

/* Estilo para la Sección 4 Informacion*/


/* Estilo para las tres columnas */
#seccion4-info{
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: space-between; /* Espacio entre las columnas */
    margin-top: 100px; /* Margen superior para separar el párrafo de las columnas */
    padding: 120px;
}

.seccion4-info p{

    margin-left: 0px;
    font-size: 14px; /* Tamaño de fuente para el párrafo */
    color: #4D4D4D; /* Color de texto para el párrafo */
    font-weight: 500;
}
.seccion4-info h2{
    stroke-width: 2px;
    color: #79C000;
    font-size: 15.878px;
}
.seccion-contenido4{
    display: flex;
}


/* Estilo individual para cada columna */
/* Estilo para el contenedor de las columnas */
.seccion-contenido4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Divide en tres columnas de igual ancho */
    gap: 5px; /* Espacio entre las columnas */
}

.columna-seccion4 {
    display: flex;
    align-items: flex-start; /* Alinea la imagen en la parte superior */
    text-align: left; /* Texto alineado a la izquierda */
    padding: 10px;
    border: 0px solid #ccc; /* Borde para separar las columnas visualmente */
}


.columna-seccion4 p {

    font-size: 14px;
    color: #666;
    margin-left: 0; /* Ajusta el margen izquierdo para que el texto esté alineado a la izquierda */
}

.columna-seccion4 img {
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}


/* Estilo para la Sección 5 Informacion*/


/* Estilo para las tres columnas */
#seccion5-info{
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: space-between; /* Espacio entre las columnas */
    margin-top: 100px; /* Margen superior para separar el párrafo de las columnas */
    padding: 120px;
}

/* Estilo para la Sección 6 Informacion*/


/* Estilo para una columna*/
#seccion6-info{
    display: flex;
    align-items:center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Espacio entre las columnas */
    margin-top: 100px; /* Margen superior para separar el párrafo de las columnas */
    padding: 120px;
    margin-left: 0px;
}

.seccion-contenido6{
    display: flex;
    align-items:center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Espacio entre las columnas */
    width: 500px;
}

/* Estilo para la columna de la imagen */
.columna-imagen6 {
    flex: 1;
    text-align: center;
}

/* Estilo para la imagen dentro de la columna de imagen */
.columna-imagen6 img {
    max-width: 200px; /* Tamaño máximo de la imagen */
    width: 100px;
    height: auto; /* Mantiene la proporción de aspecto */
}

/* Estilo para la columna de texto al lado derecho */
.columna-texto6 {
    flex: 2;
}

/* Estilo para el título */
.columna-texto6 h3 {
    font-size: 30px;
    font-weight: 100;
    margin: 0; /* Elimina el margen por defecto del título */
    color: #4D4D4D;
}

/* Estilo para el subtitulo */
.columna-texto6 h2 {
    font-size: 35px;
    margin: 0; /* Elimina el margen por defecto del título */    
    color: #4D4D4D;
}

/* Estilos para dispositivos móviles */


/* Sección 4 */
/* Banner */

.bannerGeneral {
    display: flex; /* Utilizamos flexbox para alinear horizontalmente los elementos */
    align-items: center; /* Centramos verticalmente los elementos */
    justify-content: center;
    margin: 10px 10px;
}
.bannerGeneral  img {
    width: 50px;
}

.bannerGeneral h2{
    color: #606060;
    font-family: 'Inter', sans-serif;
    font-size: 37.345px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.linea-vertical-amarilla {
    width: 4px;
    background-color: #606060;
    height: 50px;
    margin: 0 20px;
}

.tablaB {

    display: flex;
    flex-direction: column; /* Alinea los elementos como columnas */
    align-items: center; /* Centra horizontalmente los elementos */
    margin: 10px 10px;
}
.tablaB > * {
    margin-bottom: 20px; /* Espacio entre elementos internos (filas) */
}

.boton-gris {
    text-decoration: none; /* Elimina la línea subrayada en los enlaces */
    background-color: #606060;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18.718px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    cursor: pointer; /* Agregamos un cursor de puntero para indicar que es interactivo */
}

.boton-contenido {
    display: flex;
    align-items: center;
}

.boton-gris img {
    margin-right: 10px;
}



/* Sección 5 */

.columnas {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.columna h2{
    color: #4D4D4D;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px;
}

.columna p{
    color: #4D4D4D;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.columna {
    flex: 1;
    padding: 5px;
    text-align: center;
}


.columna img {
    
    width: 164px;
    height: auto;
}

.lineaverde {
    text-align: center;
    width: 5px; /* Ancho reducido */
    background-color: #606060;
    height: 438px;
    margin: 0 auto; /* Margen automático horizontal para centrar */
}


.FooterMedit{
    display: flex;
    align-items: center;
    margin: 0 auto;

}

.FooterMedit img{
    width: 100px;
    margin-right: 20px;
}

.FooterMedit2{
    display: flex;
    flex-direction: column;
}
.FooterMedit2 p {
    color: #4D4D4D;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px; /* Ajusta el margen inferior para reducir el espacio entre el párrafo y el título */
}

.FooterMedit2 h2 {
    color: #79C000;
    font-family: 'Inter', sans-serif;
    font-size: 25.982px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0; /* Elimina el margen superior predeterminado del título */
}


.botonAceptar {
    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #F4F4F4;    
    border: 2px solid #F4F4F4; 
    margin-right: 20px; 
    color: #4D4D4D; 
    font-family: "Inter", sans-serif; 
    font-size: 15.224px; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
.botonAceptar img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusbcta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: invert(28%) sepia(3%) saturate(36%) hue-rotate(18deg) brightness(90%) contrast(81%);
}
.botonAceptar:hover{
    color:#fff;
    cursor: pointer;
    background-color: #79C000; 
}
.botonAceptar:hover .filtro, .boton2:hover .filtro{
    filter: invert(100%) sepia(94%) saturate(25%) hue-rotate(20deg) brightness(107%) contrast(105%);
}


.seccion-imagen-texto {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    margin-left: 15px;
}

.seccion-imagen-texto img {
    width: 78px;
}

.seccion-imagen-texto .texto {
    margin-left: 20px; /* Espacio entre la imagen y el texto */
}

.textoseparador p{
    font-weight: bolder;
    margin-left: 20px;
    font-size: 28px;
    color: #4d4d4d;
}

.seccion-imagen-texto .texto p {
    color: #4D4D4D;
    font-family: 'Lato', sans-serif;
    font-size: 30.385px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rectangulos01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .rectangulo01 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%; /* Ajusta el ancho de los rectángulos */
    height: auto;
    padding: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-right: 30px;
    margin-top: 10px;
    border-radius: 15px;
  }
  
  .imagen-pequena01 {
    width: 150px;
    margin-right: 25px;
    margin-left: 15px;
  }
  
  .texto-rectangulo01 {

    font-size: 15px;
    line-height: 1.5;
    margin: 0;
  }

  .rectangulos02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .rectangulo02 ,.rectangulo02v4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; /* Ajusta el ancho de los rectángulos */
    height: auto;
    max-width: 500px;
    padding: 30px;
    margin-bottom: 20px;
    margin-right: 30px; /* Añade una pequeña separación entre los rectángulos */
    border-radius: 10px;
  }
  .rectangulo02v4{
    width: 60%; /* Ajusta el ancho de los rectángulos */
    height: auto;
    max-width: 1000px;
  }

  .rectangulo02one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta el ancho de los rectángulos */
    height: auto;
    max-width: 1500px;
    padding: 40px;
    padding-left: 40px;
    margin-bottom: 20px;
    margin-right: 30px; /* Añade una pequeña separación entre los rectángulos */
    border-radius: 10px;
}
  
  .imagen-pequena02 {
    width: 150px;
    margin-right: 10px;
  }
  
  .texto-rectangulo02 {
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
  }

  .texto-rectangulo02 h2{
    font-size: 33px;
    line-height: 1;

  }



  .banner-separador03 {
    display: flex;
    align-items: center;
    background-color: #F4F4F4;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0px 10px 10px 0px;
}
.cuadroazulv4{
    background-color: #00A99D;
    width: 15px;
    height: 82px;
    text-align: center; /* Centramos el texto */
    color: white; /* Cambiamos el color del texto a blanco */
    writing-mode: vertical-rl; /* Escribimos el texto en vertical */
    transform: rotate(180deg); /* Rotamos el texto en vertical */
    font-size: 12px;
    font-weight: bold;
}
.cuadroverdev4{
    background-color: #79C000;
    width: 15px;
    height: 82px;
    text-align: center; /* Centramos el texto */
    color: white; /* Cambiamos el color del texto a blanco */
    writing-mode: vertical-rl; /* Escribimos el texto en vertical */
    transform: rotate(180deg); /* Rotamos el texto en vertical */
    font-size: 12px;
    font-weight: bold;
}
.cuadronaranjav4{
    background-color: #F7931E;
    width: 15px;
    height: 82px;
    text-align: center; /* Centramos el texto */
    color: white; /* Cambiamos el color del texto a blanco */
    writing-mode: vertical-rl; /* Escribimos el texto en vertical */
    transform: rotate(180deg); /* Rotamos el texto en vertical */
    font-size: 12px;
    font-weight: bold;
}
.rectangulo-izquierdo03 {
    background-color: #4d4d4d;
    padding: 10px 30px 10px 30px; 
    border-radius: 0px 10px 10px 0px;
    height: 100%; 
}

.rectangulo-derecho03 {
    flex: 1;
    padding: 10px;
}

.titulo03 {
    margin: 0;
    margin-left: 20px;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 31px;
    line-height: 1;

}

.banner-separador03 img {
    height: auto;
    width: 45px;
    display: block;
}

.espacioTexto03{
    color: #4d4d4d;
    margin-left: 20px;
    padding-bottom: 10px;
}

.icon-imagen{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.container-v3 {
    display: flex;
    justify-content: center;
  }
  
  .button-v3 {
    width: 50px;
    height: 50px;
    background-color: #4D4D4D;
    border: none;
    margin: 10px 5px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

  }
  .button-v3:hover {
    background-color: #79C000;
  }

  .button-v3 img {
    max-width: calc(100% - 20px); 
    max-height: calc(100% - 20px);
    margin: 10px;
  }
  


/* Estilos para dispositivos con ancho máximo de 1230px */
@media (max-width: 1230px) {
    .rectangulos01 {
        flex-direction: column;
        align-items: center;
    }
    .texto-rectangulo01 {
        text-align: center;
        font-size: 13px;
        line-height: 1.5;
        margin: 0;
    }
    .rectangulo01 {
        width: 100%; /* Ajusta el ancho de los rectángulos */
        flex-direction: column;
        height: auto;
        margin-right: 0px;
        padding: 10px;
    }
    .rectangulos02 {
        flex-direction: column;
        align-items: center;
    }
    .texto-rectangulo02 {
        text-align: center;
        font-size: 15px;
        line-height: 1.5;
        margin: 0;
    }
    .rectangulo02, .rectangulo02v4, .rectangulo02one {
        width: 90%; /* Ajusta el ancho de los rectángulos */
    }
    .texto-columnas02 {
        margin-left: 0px;
    }
    .columna02 {
        margin-right: 50px;
    }
    .imagen-columna02 {
        width: 30px; /* Tamaño de las imágenes */
    }
    .img-centrada {
        margin-top: -40px;
        width: 90%; /* Anchura de la imagen */
    }
}

/* Estilos para dispositivos con ancho máximo de 1250px */
@media (max-width: 1250px) {
    .imagen-pequena01 {
        width: 150px;
        margin-right: 25px;
        margin-left: 5px;
      }
    .texto-rectangulo01 {

        font-size: 14px;
        line-height: 1.5;
        margin: 0;
      }
    .seccion-horizontar-v3 ,.seccion-horizontar-v3-2{
        flex-direction: column;
        align-items: center;
    }
    .columna1 {
        justify-content: center;
    }
    .seccion2op1b {
        flex-direction: column;
    }
    .boton-cai-v3, .boton-diagnostico-v3, .boton-nivelatorio-v3 {
        font-size: 20px;
    }
    .boton-cai-v3:hover, .boton-diagnostico-v3:hover, .boton-nivelatorio-v3:hover, .botonactivo-v3 {
        width: 88%;
        text-align: center;
    }
    .seccion2 {
        flex-direction: column;
        max-height: none;
    }
    .columna1, .columna2 {
        flex: auto;
        padding: 17px;
        align-items: center;
        text-align: center;
    }
    .columna2 {
        justify-content: center;
    }
    .columna1 img {
        max-height: none;
        max-width: 100%;
    }
    .rectangulo {
        margin-right: 0;
        margin-left: 0;
        margin-top: 10px;
    }
    .contenido-columna2 h1, .contenido-columna2 h2, .contenido-columna2 p {
        font-size: 30.08px;
    }
    .contenido-columna2 p {
        color: #FFF;
        font-size: 17.298px;
    }
    .textobanner {
        margin: 22% 20px 10px 80px;
    }
    .rectangulo, .columna-rectangulo, .rectangulobanner {
        height: 50px;
        margin-right: 7px;
    }
    .texto-columnas02 {
        margin-left: 50px;
    }
    .columna02 {
        margin-right: 50px;
        font-size: 15px;
    }
    .imagen-columna02 {
        width: 30px;
    }
    .img-centrada {
        margin-top: -28px;
        width: 70%;
    }
}

/* Estilos para dispositivos con ancho máximo de 1200px */
@media (max-width: 1200px) {
    .columna-video iframe {
        width: 250px;
    }

    .imagen-pequena01 {
        width: 150px;
        margin-right: 15px;
        margin-left: 5px;
      }
    .containerg {
        max-width: 100%;
    }
    .textobanner {
        margin: 21% 20px 10px 80px;
    }
    .rectangulo, .columna-rectangulo, .rectangulobanner {
        display: none;
        height: 5px;
    }
    .contenido-columna2 h1, .contenido-columna2 h2, .contenido-columna2 p {
        font-size: 25px;
    }
    #botones {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        align-items: center; /* Centrar horizontalmente los elementos en dispositivos móviles */
        justify-content: center; /* Centrar verticalmente los elementos en dispositivos móviles */
        margin-top: 0; /* Eliminar el margen superior */
        position: static; /* Eliminar la posición absoluta */
        z-index: auto; /* Restaurar el índice Z al valor predeterminado */
    }

    button {
        margin: 10px 0; /* Agregar espacio vertical entre los botones en dispositivos móviles */
    }

    /* Estilos para los botones */
    .boton-seccion3 {
        width: 100%; /* Ancho completo en dispositivos móviles */
        height: auto; /* Altura automática en dispositivos móviles */
        margin: 10px 0; /* Agregar espacio vertical entre los botones en dispositivos móviles */
        margin-right: 0; /* Eliminar el margen derecho en dispositivos móviles */
        color: #4D4D4D; /* Color de texto */
        font-size: 14px; /* Tamaño de fuente en dispositivos móviles */
    }

    .boton-seccion3:hover {
        background-color: #79C000; /* Cambia el fondo al pasar el cursor */
        border-color: #79C000; /* Mantén el borde con el mismo color */
        color: #fff; /* Color de texto al pasar el cursor */
    }

    .boton-seccion3 img {
        max-width: 60px; /* Tamaño máximo de la imagen */
        max-height: 60px; /* Tamaño máximo de la imagen */
        filter: grayscale(0%); /* Eliminar la escala de grises en dispositivos móviles */
    }

    .boton-seccion3.activo {
        background-color: #79C000; /* Cambia el fondo al pasar el cursor */
        border-color: #79C000; /* Mantén el borde con el mismo color */
        color: #fff; /* Color de texto al pasar el cursor */
    }

    .boton-seccion3.activo img {
        filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%); /* Restaurar el filtro */
    }

    /* Estilos para el contenedor de información */
    #informacion {
        margin-top: 20px; /* Añadir espacio en la parte superior */
        padding: 20px; /* Reducir el espacio interior para el contenido */
        height: auto; /* Altura automática en dispositivos móviles */

    }
    .columna-video{
        width: auto;
        height: auto;
    }
    .columna-video iframe{
        width: 300px;
    }
    /* Estilos para la sección 1 de información */
    .seccion-contenido1 {
        margin-top: 20px; /* Añadir espacio en la parte superior */
        flex-direction: column;
    }


    /* Estilos para la sección 2 de información */
    .seccion-contenido2 {
        margin-top: 20px; /* Añadir espacio en la parte superior */
    }

    #seccion2-info p {
        padding: 20px; /* Añadir espacio interior para el párrafo */
    }

    /* Estilos para la sección 3 de información */
    .seccion-contenido3{
        display: flex;
        flex-direction: column;
        padding: 20px; /* Reducir el espacio interior para el contenido */
    }
    #seccion3-info {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        padding: 20px; /* Reducir el espacio interior para el contenido */
    }

    .seccion3-info h2 {
        font-size: 24px; /* Tamaño de fuente para el título */
        margin-bottom: 10px; /* Añadir espacio entre el título y el párrafo */
    }

    .seccion3-info p {
        margin-left: 0; /* Eliminar el margen izquierdo */
        padding-left: 10px;
    }

    /* Estilos para la sección 4 de información */
    .seccion-contenido4{
        display: flex;
        flex-direction: column;
        padding: 20px; /* Reducir el espacio interior para el contenido */
    }
    #seccion4-info {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        margin-top: 20px; /* Añadir espacio en la parte superior */
        padding: 20px; /* Reducir el espacio interior para el contenido */
    }

    .seccion4-info h2 {
        font-size: 24px; /* Tamaño de fuente para el título */
        margin-bottom: 10px; /* Añadir espacio entre el título y el párrafo */
    }
    .columna-seccion4 {
        display: flex; /* Usar flexbox para alinear las columnas horizontalmente */
        justify-content: flex-start; /* Espacio entre las columnas */
        align-items: center; /* Alinea la imagen en la parte superior */
        margin-right: 0px;
        padding-right: 0px;
    }

    

    /* Estilos para la sección 5 de información */
    #seccion5-info {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        margin-top: 20px; /* Añadir espacio en la parte superior */
        padding: 20px; /* Reducir el espacio interior para el contenido */
    }

    /* Estilos para la sección 6 de información */
    #seccion6-info {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        margin-top: 20px; /* Añadir espacio en la parte superior */
        padding: 20px; /* Reducir el espacio interior para el contenido */
        margin-left: 0; /* Eliminar el margen izquierdo */
    }

    .seccion-contenido6 {
        width: auto; /* Ancho automático en dispositivos móviles */
    }

    .columna-imagen6 img {
        max-width: 100%; /* Tamaño máximo de la imagen */
        height: auto; /* Mantiene la proporción de aspecto */
    }
}

/* Estilos para dispositivos con ancho máximo de 900px */
@media (max-width: 900px) {
    .textobanner {
        margin: 21% 20px 10px 80px;
    }
    
    .rectangulo, .columna-rectangulo, .rectangulobanner {
        display: none;
        height: 5px;
    }
    .contenido-columna2 h1, .contenido-columna2 h2, .contenido-columna2 p {
        font-size: 20px;
    }
    .columna02 {
        margin-right: 5px;
        font-size: 13px;
    }
    .texto-columnas02 {
        margin-left: 0px;
    }
    .texto-rectangulo01 {
        font-size: 11px;
    }
    
}

/* Estilos para dispositivos con ancho máximo de 400px */
@media (max-width: 400px) {
    .textobanner {
        margin: 20% 20px 10px 80px;
    }
    .rectangulo, .columna-rectangulo, .rectangulobanner {
        display: none;
        height: 5px;
    }
    .contenido-columna2 h1, .contenido-columna2 h2, .contenido-columna2 p {
        font-size: 10px;
    }
    .columna02 {
        margin-right: 0px;
        font-size: 10px;
    }
}
