/* Estilos moodle modificados */
.section .label .contentwithoutlink, .section .label .activityinstance {
    padding-right: 0px;
}

.esconder-v4-1,
.esconder-v4-2,
.esconder-v4-3,
.esconder-v4-4,
.esconder-v4-5,
.esconder-v4-6 {
    display: none;
}

.mostrar-v4-1, .mostrar-v4-2, .mostrar-v4-3, .mostrar-v4-4, .mostrar-v4-5, .mostrar-v4-6{
    display: block;
}


/* Estilos generales */

body {
    font-family: "Century Gothic", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Color de fondo de la página */
}

.containerg-v4 {
    /* max-width: 1080px; /* Ancho máximo del contenido */ 
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 0px; /* Agrega espacio alrededor del contenido */
}

/* Estilos para las secciones */
section {
    padding: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Estilos específicos para cada sección, como se mencionaron anteriormente */


img {
    max-width: 100%;
    height: auto;
}

/* Botones encuesta */
.espacioEncuestasv4{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 0px;
}
.cuadro-v4 {
    background-color: #E6E6E6;
    border-radius: 10px; /* Ajusta el valor para cambiar la curvatura de las esquinas */
    padding: 20px;
    text-align: center;
    width: 200px;
    margin: 10px;
}

.cuadro-v4 img {
    width: 65px; /* Ajusta el tamaño de la imagen según sea necesario */
}

.texto-naranja-v4 {
    color: #F7931E;
    font-size: 18px; /* Ajusta el tamaño del texto según sea necesario */
    font-weight: bolder;
    margin: 5px;
}

.texto-gris-v4 {
    color: #4D4D4D;
    font-size: 14px; /* Ajusta el tamaño del texto según sea necesario */
    margin: 5px;
    font-weight: bold;
}
/* Mini Banner */
.bannerSeparador-v4 {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinea el contenido al fondo del contenedor */
    height: 400px; /* Altura del contenedor */
}

.texto_minibanner_v4 {
    background-color: rgba(247, 147, 30); /* rgba con un valor alfa de 0.7 para la transparencia */
    color: #fff;
    padding: 15px 20px;
    font-size: x-large;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: calc(100% - 40px); /* Ancho del texto (100% del ancho menos el padding) */
    text-align: center;
    margin: 0px;
    width: 80%;
    font-weight: bolder;
}

/* Espacio embed */
.rectangulo-fondov4 {
    display: flex;
    justify-content: center;
    align-items: center; /* Para centrar verticalmente */
    background-color: #E6E6E6;
    color: #4D4D4D;
    height: 500px;
    width: 100%;
    margin-bottom: 15px;
}

.imagen-centrada-v4 {
    max-width: 100%; /* Para asegurarse de que la imagen no exceda el tamaño del contenedor */
    max-height: 100%; /* Para asegurarse de que la imagen no exceda el tamaño del contenedor */
    object-fit: contain; /* Ajusta la imagen manteniendo la relación de aspecto y sin deformarla */
}

.titulosv4 {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: center;
    color: #4D4D4D;
    padding: 10px;
    width: 100%; /* Ancho fijo para el contenedor */
}

.titulosv4 img {
    width: 40px;
    height: auto;
    margin-right: 15px;
}



.imgcai-v4{
    width: 20%;
    margin: 20px 0;
    padding-right: 70px;
}

/* Botones Banner */
.seccion-horizontal-v4{
    margin-top: 0px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}

.seccion-horizontal-v4 a{
    text-decoration: none;
}

.boton-cai-v4{
    color: #4D4D4D;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    height: 60px;
    line-height: 21px; 
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .botonactivo-v4{
    background-color: #F7931E;
    color: #FFFFFF;
  }
  
  .boton-cai-v4:hover{
    background-color: #F7931E;
    color: #FFFFFF;
  }
  

.seccion2op1-v4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion2op1b-v4{
    position: relative;
    display: flex;
    color: #FFF;
    margin-bottom: 20px;
    overflow: hidden;
    flex-direction: row;
}

.imagen-fondo-v4 {
    width: 100%;
    z-index: 0;
}

.textobanner-v4, .textobannerb2-v4 {
    position: absolute;
    display: flex;
    margin: 15% 20px 10px 90px;
    z-index: 1;
}

.textobannerb2-v4 {
    margin: 10% 20px 10px 90px;
}


.contenido-columna2-v4 h1,
.contenido-columna2-v4 h2,
.contenido-columna2-v4 p {
    font-family: Montserrat Black, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.9;
    margin: 0px;
    margin-bottom: 5px;
}

.contenido-columna2-v4 h1 {
    color: #FFF;
}

.contenido-columna2-v4 h2 {
    font-family: "Montserrat Semi Bold", sans-serif;
    color: #F7931E;
}

.textoblanco-v4 h2 {
    font-family: "Montserrat Semi Bold", sans-serif;
    color: #fff;
}


/* Sección 3 */
.contenedordebotones-1-v4{
    display: flex;
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: space-around; /* Centra verticalmente los elementos */
}
.contenedordebotones-v4{
    display: flex;
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: space-around; /* Centra verticalmente los elementos */
    margin-bottom: 150px;
    margin-top: 50px;
}
.contenedordebotones2-v4{
    display: flex;
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: space-around; /* Centra verticalmente los elementos */
}
#botonesV4 {
    display: flex;
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: space-around; /* Centra verticalmente los elementos */
    margin-top: 140px;
    position: absolute; /* Establecer posición absoluta para los botones */
    z-index: 2;
}
#botonesV4-1 {
    display: flex;
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: space-around; /* Centra verticalmente los elementos */
    margin-top: 140px;
    position: absolute; /* Establecer posición absoluta para los botones */
    z-index: 2;
}
#botones2V4 {
    display: flex;
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: space-around; /* Centra verticalmente los elementos */
    margin-top: -150px;
    position: absolute; /* Establecer posición absoluta para los botones */
    z-index: 2;
}


button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.boton1-v4v{

    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #F7931E; /* Cambia el fondo al pasar el cursor */    
    border: 2px solid #F7931E; /* Borde del botón */
    margin-right: 20px; /* Espacio entre los botones */
    color: #fff; /* Color de texto al pasar el cursor */
    font-family: "Inter", sans-serif; /* Fuente del texto */
    font-size: 15.224px; /* Tamaño de fuente */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;

}

.boton1-v4{
    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #F4F4F4; /* Cambia el fondo al pasar el cursor */    
    border: 2px solid #F4F4F4; /* Borde del botón */
    margin-right: 20px; /* Espacio entre los botones */
    color: #4D4D4D; /* Color de texto al pasar el cursor */
    font-family: "Inter", sans-serif; /* Fuente del texto */
    font-size: 15.224px; /* Tamaño de fuente */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}
.boton1-v4v img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusbcta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
}

.boton1-v4 img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusbcta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
}
.boton1-v4:hover{
    color:#F7931E;
    cursor: pointer;
}
.boton1-v4:hover .filtro-v4, .boton2:hover .filtro-v4{
    filter: invert(65%) sepia(18%) saturate(2554%) hue-rotate(346deg) brightness(100%) contrast(95%);

}
.boton1-v4v .filtro-v4{
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(301deg) brightness(102%) contrast(101%);
}

.boton1-v4 .filtro-v4{
    filter: invert(29%) sepia(1%) saturate(1600%) hue-rotate(322deg) brightness(104%) contrast(97%);
}

.boton1-2-v4v{

    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #4D4D4D; /* Cambia el fondo al pasar el cursor */    
    border: 2px solid #4D4D4D; /* Borde del botón */
    margin-right: 20px; /* Espacio entre los botones */
    color: #fff; /* Color de texto al pasar el cursor */
    font-family: "Inter", sans-serif; /* Fuente del texto */
    font-size: 15.224px; /* Tamaño de fuente */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;

}

.boton1-2-v4{
    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #F4F4F4; /* Cambia el fondo al pasar el cursor */    
    border: 2px solid #F4F4F4; /* Borde del botón */
    margin-right: 20px; /* Espacio entre los botones */
    color: #4D4D4D; /* Color de texto al pasar el cursor */
    font-family: "Inter", sans-serif; /* Fuente del texto */
    font-size: 15.224px; /* Tamaño de fuente */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}
.boton1-2-v4v img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusbcta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
}

.boton1-2-v4 img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusbcta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
}
.boton1-2-v4:hover{
    color:#fff;
    cursor: pointer;
    background-color: #4D4D4D;
    border-color: #4D4D4D;
}
.boton1-2-v4:hover .filtro-v4, .boton2:hover .filtro-v4{
    filter: invert(100%) sepia(0%) saturate(7424%) hue-rotate(342deg) brightness(95%) contrast(118%);
    
}

.boton1-2-v4v .filtro-v4{
    filter: invert(100%) sepia(0%) saturate(7424%) hue-rotate(342deg) brightness(95%) contrast(118%);
}

.boton1-2-v4 .filtro-v4{
    filter: invert(29%) sepia(1%) saturate(1600%) hue-rotate(322deg) brightness(104%) contrast(97%);
}




/* Estilo para el contenedor de información */

#informacion-v4 {
    background-color: rgba(255, 255, 255, 0.95); /* Color de fondo con transparencia */
    height: auto;
    filter: drop-shadow(6.150000095367432px 2.049999952316284px 10.25px rgba(1, 0, 1, 0.35));
    padding: 20px; /* Espaciado interior para separar el contenido del borde */
    margin-top: 60px; /* Mover hacia arriba con un margen negativo */
    position: relative; /* Establecer posición relativa */
    z-index: 1; /* Asegurar que la información esté sobre los botones */
    border-radius: 10px;
}
#informacion2-v4 {
    background-color: rgba(255, 255, 255, 0.95); /* Color de fondo con transparencia */
    height: auto;
    filter: drop-shadow(6.150000095367432px 2.049999952316284px 10.25px rgba(1, 0, 1, 0.35));
    padding: 0px; /* Espaciado interior para separar el contenido del borde */
    padding-left: 0px;
    margin-bottom: 100px;
    margin-top: 50px; /* Mover hacia arriba con un margen negativo */
    position: relative; /* Establecer posición relativa */
    z-index: 1; /* Asegurar que la información esté sobre los botones */
    border-radius: 15px;
}
.imgmusica-v4{

    margin: 0px;
    min-width: 250px;
}

.imgmusica-v4 img{
    height: 601px;
}

.audios-v4{
    display: flex;
    width: 70px;
}

.audios-v4 img{
    margin: 10px;
}
.info-seccion2-v4{
    display: flex;
}

/* Estilo para la sección  1 informacion-v4*/


/* Estilo para la columna de texto */
.seccion-contenido1-v4{
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    margin-top: 100px;
    flex-direction: column;
}

.seccion-contenido1-2-v4{
    font-family: "Century Gothic", sans-serif;
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
    margin-top: 10px;
    padding: 70px;
    flex-direction: column;
}

/* Estilo para el título */
.columna-texto-2-v4 h2 {
    
    stroke-width: 2px;
    color: #F7931E;
    font-size: 15.878px;
}
/* Estilo para el párrafo */
.columna-texto-2-v4 p {
    color: #4D4D4D;
    font-family: "Century Gothic", sans-serif;
    font-size: 15.878px;
    font-style: normal;
    line-height: normal;
}

/* Estilo para el título */
.columna-texto-v4 h2 {
    
    stroke-width: 2px;
    color: #F7931E;
    font-size: 15.878px;
}
/* Estilo para el párrafo */
.columna-texto-v4 p {
    
    color: #4D4D4D;
    font-family: 'Inter', sans-serif;
    font-size: 15.878px;
    font-style: normal;
    line-height: normal;
}


/* Estilo para las tres columnas */

#seccion3-info-v4{
    display: flex;
    flex-direction: row;
    padding: 120px 120px 20px;
    justify-content: center
}

.seccion3-info-v4 p{

    margin-left: 0px;
    font-size: 14px; /* Tamaño de fuente para el párrafo */
    color: #4D4D4D; /* Color de texto para el párrafo */
    font-weight: 400;
}
.seccion3-info-v4 h2{
    stroke-width: 2px;
    color: #F7931E;
    font-size: 15.878px;
}

#seccion3-2-info-v4{
    display: flex;
    flex-direction: row;
    padding-bottom: 70px;
    margin: 10px;
    justify-content: center
}

.seccion3-2-info-v4 p{

    margin-left: 0px;
    font-size: 14px; /* Tamaño de fuente para el párrafo */
    color: #4D4D4D; /* Color de texto para el párrafo */
    font-weight: 400;
}
.seccion3-2-info-v4 h2{
    stroke-width: 2px;
    color: #F7931E;
    font-size: 15.878px;
}

/* Estilo para una columna*/
#seccion6-info-v4{
    display: flex;
    align-items:center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Espacio entre las columnas */
    margin-top: 100px; /* Margen superior para separar el párrafo de las columnas */
    padding: 120px;
    margin-left: 0px;
}

.seccion-contenido6-v4{
    display: flex;
    align-items:center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Espacio entre las columnas */
    width: 500px;
}

/* Estilo para la columna de la imagen */
.columna-imagen6-v4 {
    flex: 1;
    text-align: center;
}

/* Estilo para la imagen dentro de la columna de imagen */
.columna-imagen6-v4 img {
    max-width: 200px; /* Tamaño máximo de la imagen */
    width: 100px;
    height: auto; /* Mantiene la proporción de aspecto */
}

/* Estilo para la columna de texto al lado derecho */
.columna-texto-v4-6 {
    flex: 2;
}

/* Estilo para el título */
.columna-texto-v4-6 h3 {
    font-size: 30px;
    font-weight: 100;
    margin: 0; /* Elimina el margen por defecto del título */
    color: #4D4D4D;
}

/* Estilo para el subtitulo */
.columna-texto-v4-6 h2 {
    font-size: 35px;
    margin: 0; /* Elimina el margen por defecto del título */    
    color: #4D4D4D;
}

/* Estilos para dispositivos móviles */

.centrado-v4 {
    display: flex;
    justify-content: center;
}

.botonAceptar-v4 {
    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #F4F4F4;    
    border: 2px solid #F4F4F4; 
    margin-right: 20px; 
    color: #4D4D4D; 
    font-family: "Inter", sans-serif; 
    font-size: 15.224px; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
.botonAceptar-v4 img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusbcta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: invert(28%) sepia(3%) saturate(36%) hue-rotate(18deg) brightness(90%) contrast(81%);
}
.botonAceptar-v4:hover{
    color:#fff;
    cursor: pointer;
    background-color: #F7931E; 
}
.botonAceptar-v4:hover .filtro-v4, .boton2:hover .filtro-v4{
    filter: invert(100%) sepia(94%) saturate(25%) hue-rotate(20deg) brightness(107%) contrast(105%);
}

.rectangulos01-v4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rectangulo01-v4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%; /* Ajusta el ancho de los rectángulos */
    height: auto;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 15px;
}

.imagen-pequena01-v4 {
    width: 150px;
    margin-right: 25px;
    margin-left: 15px;
}

.texto-rectangulo01-v4 {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    margin-left: 30px;
  }


.rectangulo02v4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; /* Ajusta el ancho de los rectángulos */
    height: auto;
    max-width: 500px;
    padding: 30px;
    margin-bottom: 20px;
    margin-right: 30px; /* Añade una pequeña separación entre los rectángulos */
    border-radius: 10px;
  }
  .rectangulo02v4{
    width: 60%; /* Ajusta el ancho de los rectángulos */
    height: auto;
    max-width: 1000px;
  }
.cuadroazulv4{
    background-color: #00A99D;
    width: 15px;
    height: 82px;
    text-align: center; /* Centramos el texto */
    color: white; /* Cambiamos el color del texto a blanco */
    writing-mode: vertical-rl; /* Escribimos el texto en vertical */
    transform: rotate(180deg); /* Rotamos el texto en vertical */
    font-size: 12px;
    font-weight: bold;
}
.cuadroverdev4{
    background-color: #F7931E;
    width: 15px;
    height: 82px;
    text-align: center; /* Centramos el texto */
    color: white; /* Cambiamos el color del texto a blanco */
    writing-mode: vertical-rl; /* Escribimos el texto en vertical */
    transform: rotate(180deg); /* Rotamos el texto en vertical */
    font-size: 12px;
    font-weight: bold;
}
.cuadronaranjav4{
    background-color: #F7931E;
    width: 15px;
    height: 82px;
    text-align: center; /* Centramos el texto */
    color: white; /* Cambiamos el color del texto a blanco */
    writing-mode: vertical-rl; /* Escribimos el texto en vertical */
    transform: rotate(180deg); /* Rotamos el texto en vertical */
    font-size: 12px;
    font-weight: bold;
}

.container-v4 {
    display: flex;
    justify-content: center;
  }
  
  .button-v4 {
    width: 50px;
    height: 50px;
    background-color: #4D4D4D;
    border: none;
    margin: 10px 5px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

  }
  .button-v4:hover {
    background-color: #F7931E;
  }

  .button-v4 img {
    max-width: calc(100% - 20px); 
    max-height: calc(100% - 20px);
    margin: 10px;
  }
  
  .contenedor-v4, .contenedor2-v4 {
    display: flex;
  }
  
  .cuadro-icono-v4,  .cuadro-icono2-v4{
    display: flex;
    flex-direction: column; /* Cambia el flujo a columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center;
    background-color: #4D4D4D;
    color: white;
    border-radius: 15px; /* Borde redondeado */
    padding: 15px; /* Espacio interno */
    height: 180px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    width: 100%;
    max-width: 180px;
  }
  .cuadro-icono-v4 p{
    margin-top: 5px;
}
.cuadro-icono2-v4{
    background-color: #F7931E;
  }

  .cuadro-icono-v4 img{
    width: 50px; /* Ajusta el tamaño de la imagen */
    height: auto;
  }

  .cuadro-icono2-v4 img {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: auto;
  }

.cuadro-texto-v4, .cuadro-texto2-v4 {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: #F4F4F4;
    color: #4D4D4D;
    border-radius: 15px; /* Borde redondeado */
    margin-left: 30px; /* Espacio entre los cuadros */
    padding: 25px; /* Espacio interno */
}


/* Estilos para dispositivos con ancho máximo de 1250px */
@media (max-width: 1250px) {

    .imgcai-v4{
        padding-right: 0px;
    }
    .imagen-pequena01-v4 {
        width: 150px;
        margin-right: 25px;
        margin-left: 5px;
      }
    .texto-rectangulo01-v4 {

        font-size: 14px;
        line-height: 1.5;
        margin: 0;
      }
    .seccion-horizontal-v4{
        flex-direction: column;
        align-items: center;
    }

    .seccion2op1b-v4,  .seccion2op1-v4 {
        flex-direction: column;
    }
    .boton-cai-v4, .boton-diagnostico-v3, .boton-nivelatorio-v3 {
        font-size: 20px;
    }
    .boton-cai-v4:hover, .botonactivo-v4 {
        width: 88%;
        text-align: center;
    }

    .contenido-columna2-v4 h1, .contenido-columna2-v4 h2, .contenido-columna2-v4 p {
        font-size: 70px;
    }
    .textobanner-v4 {
        margin: 15% 20px 10px 80px;
    }
    .textobannerb2-v4{
        margin: 9% 20px 10px 80px;
    }


    .columna02 {
        margin-right: 50px;
        font-size: 15px;
    }
    .imagen-columna02 {
        width: 30px;
    }
    .img-centrada {
        margin-top: -28px;
        width: 70%;
    }
    .rectangulos01-v4 {
        flex-direction: column;
        align-items: center;
    }
    .texto-rectangulo01-v4 {
        text-align: center;
        font-size: 13px;
        line-height: 1.5;
        margin: 0;
    }
    .rectangulo01-v4 {
        width: 100%; /* Ajusta el ancho de los rectángulos */
        flex-direction: column;
        height: auto;
        margin-right: 0px;
        padding: 10px;
    }

    .rectangulo02v4 {
        width: 90%; /* Ajusta el ancho de los rectángulos */
    }
}

/* Estilos para dispositivos con ancho máximo de 1000px */
@media (max-width: 1000px) {
    .espacioEncuestasv4{
        flex-direction: column;
        align-items: center;
    }
    .columna-video-v4 iframe {
        width: 250px;
    }
    .imagen-pequena01-v4 {
        width: 150px;
        margin-right: 15px;
        margin-left: 5px;
    }
    .containerg-v4 {
        max-width: 100%;
    }
    .textobanner-v4 {
        margin: 15% 20px 10px 80px;
    }
    .textobannerb2-v4{
        margin: 8% 20px 10px 80px;
    }
    .contenido-columna2-v4 h1, .contenido-columna2-v4 h2, .contenido-columna2-v4 p {
        font-size: 65px;
    }
    #botonesV4, #botonesV4-1 {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        align-items: center; /* Centrar horizontalmente los elementos en dispositivos móviles */
        justify-content: center; /* Centrar verticalmente los elementos en dispositivos móviles */
        margin-top: 0; /* Eliminar el margen superior */
        position: static; /* Eliminar la posición absoluta */
        z-index: auto; /* Restaurar el índice Z al valor predeterminado */
    }
    .imgmusica-v4
    {
        display: none;
    }
    #botones2V4 {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        align-items: center; /* Centrar horizontalmente los elementos en dispositivos móviles */
        justify-content: center; /* Centrar verticalmente los elementos en dispositivos móviles */
        margin-top: 0; /* Eliminar el margen superior */
        position: static; /* Eliminar la posición absoluta */
        z-index: auto; /* Restaurar el índice Z al valor predeterminado */
    }

    button {
        margin: 10px 0; /* Agregar espacio vertical entre los botones en dispositivos móviles */
    }


    /* Estilos para el contenedor de información */
    #informacion-v4 {
        margin-top: 20px; /* Añadir espacio en la parte superior */
        padding: 20px; /* Reducir el espacio interior para el contenido */
        height: auto; /* Altura automática en dispositivos móviles */

    }
    #informacion2-v4 {
        margin-top: 20px; /* Añadir espacio en la parte superior */
        padding: 20px; /* Reducir el espacio interior para el contenido */
        height: auto; /* Altura automática en dispositivos móviles */
        margin-bottom: 10px;
    }
    .columna-video-v4{
        width: auto;
        height: auto;
    }
    .columna-video-v4 iframe{
        width: 300px;
    }
    /* Estilos para la sección 1 de información */
    .seccion-contenido1-v4 {
        margin-top: 20px; /* Añadir espacio en la parte superior */
        flex-direction: column;
    }
    .seccion-contenido1-2-v4 {
        margin-bottom: 0px;
        padding: 10px;
        flex-direction: column;
    }

    /* Estilos para la sección 3 de información */

    #seccion3-info-v4 {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        padding: 20px; /* Reducir el espacio interior para el contenido */
    }



    .seccion3-info-v4 h2 {
        font-size: 24px; /* Tamaño de fuente para el título */
        margin-bottom: 10px; /* Añadir espacio entre el título y el párrafo */
    }

    .seccion3-info-v4 p {
        margin-left: 0; /* Eliminar el margen izquierdo */
        padding-left: 10px;
    }

    #seccion3-2-info-v4 {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        padding: 20px; /* Reducir el espacio interior para el contenido */
        align-items: center;
    }

    

    .seccion3-2-info-v4 h2 {
        font-size: 24px; /* Tamaño de fuente para el título */
        margin-bottom: 10px; /* Añadir espacio entre el título y el párrafo */
    }

    .seccion3-2-info-v4 p {
        margin-left: 0; /* Eliminar el margen izquierdo */
        padding-left: 10px;
    }

    /* Estilos para la sección 6 de información */
    #seccion6-info-v4 {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        margin-top: 20px; /* Añadir espacio en la parte superior */
        padding: 20px; /* Reducir el espacio interior para el contenido */
        margin-left: 0; /* Eliminar el margen izquierdo */
    }

    .seccion-contenido6-v4 {
        width: auto; /* Ancho automático en dispositivos móviles */
    }

    .columna-imagen6-v4 img {
        max-width: 100%; /* Tamaño máximo de la imagen */
        height: auto; /* Mantiene la proporción de aspecto */
    }
}

/* Estilos para dispositivos con ancho máximo de 900px */
@media (max-width: 900px) {
    .titulosv4 h2 {
        font-size: 20px;
        margin-right: 5px;
    }
    .contenedor-v4, .contenedor2-v4{
        flex-direction: column;
        align-items: center;
    }
    .cuadro-icono-v4, .cuadro-icono2-v4 {
        margin-bottom: 10px;
      }

    .imgcai-v4{
        width: 17%;
        margin: 10px 0;
    }
    .textobanner-v4 {
        margin: 14% 10px 10px 50px;
    }
    .textobannerb2-v4{
        margin: 8% 10px 10px 50px;
    }
    .contenido-columna2-v4 h1, .contenido-columna2-v4 h2, .contenido-columna2-v4 p {
        font-size: 35px;
    }

    .texto-rectangulo01-v4 {
        font-size: 11px;
    }
    
}

/* Estilos para dispositivos con ancho máximo de 400px */
@media (max-width: 450px) {
    .imgcai-v4{
        width: 17%;
        margin: 5px 0;
    }
    .textobanner-v4 {
        margin: 11% 10px 10px 20px;
    }
    .textobannerb2-v4{
        margin: 8% 10px 10px 20px;
    }
    .contenido-columna2-v4 h1, .contenido-columna2-v4 h2, .contenido-columna2-v4 p {
        font-size: 15px;
    }
}